body{
    background-color: rgb(126, 245, 195);
}
h1{
    color:blue;
}
h2{
    color:green;
}
h3{
    color:orange;
}
h4{
    color:purple;
}
h5{
    color:red;
}
h6{
    color:gold;
}
.strong{
    text-align: center;
}
    